mdl-card-media > img {
    width: 100%;
    height: 300px;
  }

mdl-card-media {
    margin: 0;
}

mdl-card-actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

mdl-card-actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.sub-title {
    text-align: center;
}

.sub-title hr {
    position: relative;
    border: 0;
    margin-left: 0;
    width: 50%;
    margin-left: 25%;
    height: 55px;
    background-image: url(assets/hr-style.png);
    background-repeat: no-repeat;
    

} 

.auc-padding {
    padding: 50px 50px 50px 50px;
}

#items-grid{
    padding: 25px 50px 75px 100px;
}

.end-button {
    justify-content: center;
}

.jumbotron {
    width: 100%;
}