  
  <!-- Must remove div, only for demo! -->

  <div id="myModal" class="modal"
  [ngStyle]="{'display': thisUser === '' ? 'block' : 'none' }">

    <div class="modal-content">
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <h4>Nombre:</h4>
          <!-- [A-Za-z]{3,10} -->
        <input #inputUser class="mdl-textfield__input user-input" type="text" 
        id="userName" pattern="[a-zA-Z]+" ng-pattern-restrict>
        <span class="mdl-textfield__error">Input is not text!</span>
        <div class="user-input-btn">
          <button class="mdl-button mdl-js-button mdl-button--raised
          mdl-button--accent" (click)="addSeedUser(inputUser.value)">
              Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  
    <div >
    <mdl-card mdl-shadow="4" card-style  mdl-card--expand>
      <mdl-card-actions mdl-card-border >
        <div [ngStyle]="{'display': user_lastBid ? 'inline-block' : 'none' }">
          <span class="mdl-chip mdl-chip--contact">
              <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
                {{ user_lastBid ? user_lastBid[0] : "A" | uppercase }}</span>
              <span class="mdl-chip__text">{{ user_lastBid }}</span>
          </span>
        </div>
        <div class="last-bid-text">
          <h6> {{ user_lastBid ? "con" : ''}} ${{ auction.last_bid}}
          </h6>
        </div>
        </mdl-card-actions>
      <mdl-card-actions mdl-card-border >
          <button class="time-title mdl-button 
          mdl-button--accent mdl-button--raised mdl-button--colored " > 
           <!-- {{ timeLeft ? "Termina en:" : "" }}  -->{{ displayTime }} </button>
      </mdl-card-actions>
      <mdl-card-supporting-text ngx-auto-scroll lock-y-offset="10" observe-attributes>
          <div #messages class="msg-chat" *ngFor="let msg of messages">
            <span class="mdl-chip mdl-chip--contact chip-user">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ msg.name[0] | uppercase }}</span>
            <span class="mdl-chip__text">{{ msg.puja }} </span>
            </span>
            <p class="msg-text">{{ msg.text }}</p>
        </div>
      </mdl-card-supporting-text>            

      <mdl-card-actions mdl-card-border mdl-card--expand>
        <!-- <div class="mdl-grid"> -->
          <!-- <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-phone"> -->

      <!-- IMPORTANT! Add a proper form to submit this!!!!! -->
          <div (keydown.enter)="enterKey(newBid,inputBox.value)">
            <button class="mdl-button mdl-js-button mdl-button--colored puja-btn" 
            (click)="pushBid(newBid,inputBox.value)" > 
            Pujar: ${{ newBid }} </button>
            <div class="mdl-textfield mdl-js-textfield textarea-style">
              <input #inputBox class="mdl-textfield__input" type="text" 
              id="sample1" placeholder="Enviar mensaje...">
            </div>
          </div>
           <!-- </div> --> 
           <!-- <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">  -->
           <!-- </div>  -->
         <!-- </div> --> 
    
    </mdl-card-actions>
    </mdl-card>
    </div>
  
  
  