    
    <h4>Ahora en: $20
    </h4>
    
    <mdl-card mdl-shadow="4" card-style  mdl-card--expand>
      <mdl-card-actions mdl-card-border>
          <button class="time-title mdl-button mdl-js-button mdl-button--colored puja-btn" > 
           <!-- {{ timeLeft ? "Termina en:" : "" }}  -->{{ displayTime }} </button>
      </mdl-card-actions>
      <mdl-card-supporting-text >
        <div class="msg-chat" *ngFor="let msg of messages">
          <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ msg.name[0] | uppercase }}</span>
            <span class="mdl-chip__text">{{ msg.puja }} </span>
          </span>
          
        </div>
      </mdl-card-supporting-text>            

      <mdl-card-actions mdl-card-border mdl-card--expand>
        <!-- <div class="mdl-grid"> -->
          <!-- <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-phone"> -->
            <button class="mdl-button mdl-js-button mdl-button--colored puja-btn" > Pujar: $20 </button>
            <div class="mdl-textfield mdl-js-textfield textarea-style">
                <input class="mdl-textfield__input" type="text" id="sample1" placeholder="Enviar mensaje...">
              </div>
           <!-- </div> --> 
           <!-- <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">  -->
           <!-- </div>  -->
         <!-- </div> --> 
    
    </mdl-card-actions>
 
  
  
  